<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.novel.service.mapper.NovelMapper">    
    
    <select id="selectGenreList" resultType="com.novel.service.data.GenreInfoVO">
        select * from genre_info
    </select>


<!-- 소설 -->
    <insert id="insertNovelInfo" parameterType="com.novel.service.data.temp.NovelReg" useGeneratedKeys="true" keyProperty="no_seq">
        INSERT INTO novel_info
        (no_img_seq, no_gen_seq,no_wi_seq, no_name, no_simple_txt, no_seday, no_age_status)
        VALUES (#{no_img_seq}, #{no_gen_seq},#{no_wi_seq}, #{no_name}, #{no_simple_txt}, #{no_seday}, #{no_age_status});

    </insert>

    <insert id="insertNovelImg" parameterType="com.novel.service.data.NovelInfoVO" useGeneratedKeys="true" keyProperty="no_img_seq">
        insert into image_data (img_name)
        values (#{novel_img})
    </insert>

    <select id="selectNovelList" resultType="com.novel.service.data.temp.MyNovelList">
        select a.no_seq, a.no_name,a.no_status, a.no_serial_type ,a.no_age_status , a.no_reg_dt , b.img_name ,c.gen_name, d.wi_user_seq from novel_info a 
        left outer join image_data b on a.no_img_seq = b.img_seq 
        left outer join genre_info c on a.no_gen_seq = c.gen_seq
        inner join writer_info d on a.no_wi_seq = d.wi_seq 
        where d.wi_user_seq = #{seq} order by a.no_seq desc
        limit 7 offset #{offset}
    </select>

    <select id="selectNovelPagerCount" resultType="java.lang.Integer">
        select ceil(count(wi_user_seq)/7) from writer_info where wi_user_seq = #{seq}
    </select>

    <select id="selectNovelInfoBySeq" resultType="com.novel.service.data.NovelInfoVO">
        select a.*, b.img_name, c.gen_name, d.wi_name from novel_info a left outer join image_data b on a.no_img_seq = b.img_seq left outer join genre_info c on a.no_gen_seq = c.gen_seq inner join writer_info d on a.no_seq = d.wi_no_seq  where no_seq = #{seq}
    </select>

    <select id="selectNovelFavoriteUser" resultType="java.lang.Boolean">
        select count(*) from novel_favorites where nf_no_seq = #{seq} and nf_user_seq = #{user}
    </select>

    <select id="selectNovelFavoritesCount" resultType="java.lang.Integer">
        select count(*) from novel_favorites where nf_no_seq = #{seq}
    </select>

    <select id="selectNovelStoryList" resultType="com.novel.service.data.NovelStoryVO">
        select * from novel_story 
        where ns_no_seq = #{seq} order by ns_index desc 
    </select>

    <select id="selectNovelLikeCount" resultType="java.lang.Integer">
        select count(*) from novel_like_info where nli_ns_seq = #{seq}
    </select>

    <insert id="insertNovelStory">
        insert into novel_story(ns_no_seq, ns_name, ns_file_name, ns_index, ns_writer_comment)
        values (#{seq}, #{data.ns_name}, #{data.ns_file_name}, #{data.ns_index}, #{data.ns_writer_comment})
    </insert>


    <select id="selectStoryPart" resultType="com.novel.service.data.NovelStoryVO">
        select * from novel_story where ns_seq = #{seq}
    </select>


    <select id="selectStoryCount" resultType="java.lang.Integer">
        select count(*) from novel_story where ns_no_seq = #{seq}
    </select>
    <select id="selectStoryCountBySeq" resultType="com.novel.service.data.temp.StoryInfoData">
    select (select count(ns_seq) from novel_story where ns_no_seq = #{seq}) as storycount, 
    (select count(nf_seq) from novel_favorites where nf_no_seq = #{seq}) as favoritecount,
    (select count(*) from novel_story where ns_no_seq = #{seq}) as totalcount,
    (select ns_reg_dt from novel_story where ns_no_seq = #{seq} order by ns_reg_dt desc limit 1 ) as last_dt
    </select>

    <!-- <select id="selectCategoryNovelList" resultType ="com.novel.service.data.NovelInfoVO">
        select a.*, b.wi_name from novel_info a 
        inner join writer_info b on a.no_seq = b.wi_no_seq 
        where no_serial_type = #{type} and 
    </select> -->

    <update id ="insertNovelCountData">
        INSERT INTO novel_count_data
        (ncd_user_seq,ncd_no_seq, ncd_ns_seq)
        VALUES(#{seq},#{no_seq}, #{ns_seq});
    </update>

    <select id="isNovelCountTime" resultType ="java.lang.Boolean">
        select ( <![CDATA[UNIX_TIMESTAMP() > UNIX_TIMESTAMP(ncd_count_time)+10]]> ) from novel_count_data 
        where ncd_user_seq = #{user_seq} and ncd_ns_seq = #{ns_seq} order by ncd_count_time desc limit 1
    </select>

    <select id="selectNovelCountData" resultType ="java.lang.Integer">
        select count(*) from novel_count_data where ncd_ns_seq = #{ns_seq}
    </select>

<!-- 작가 -->
    <select id="selectWriterInfo" resultType="com.novel.service.data.GenreInfoVO">
        select * from writer_info where wi_no_seq = #{seq}
    </select>

    <insert id="insertWriterInfo" parameterType="com.novel.service.data.WriterInfoVO" useGeneratedKeys="true" keyProperty="wi_seq">
        insert into writer_info (wi_no_seq, wi_user_seq, wi_name)
        values (#{wi_no_seq},#{wi_user_seq},#{wi_name})
    </insert>


    <update id="updateNovelInfoWriterSeq">
        update novel_info set no_wi_seq = #{seq} where no_seq = #{no_seq}
    </update>

<!-- 검색 -->
    <select id="selectCategoryNovelList" resultType="com.novel.service.data.ViewInfoVO">
        select * from view_novel_info
        where 
        <if test="type != 0">
            no_serial_type = #{type} and
        </if>
        no_name like '%${keyword}%' or wi_name like '%${keyword}%' or gen_name like '%${keyword}%'
    </select>
</mapper>