<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.novel.service.mapper.UserMapper">

    <select id="selectUserInfo" resultType="com.novel.service.data.UserInfoVO">
        select * from user_info where user_id = #{id} and user_pwd = #{pwd}
    </select>

    <insert id="insertUserInfo">
        INSERT INTO user_info
        (user_id, user_pwd, user_name, user_nickname, user_email, user_birth)
        VALUES (#{user_id}, #{user_pwd}, #{user_name}, #{user_nickname}, #{user_email}, #{user_birth});
    </insert>

    <select id="selectFindId" resultType="java.lang.String">
        select user_id from user_info where user_email = #{email} and user_nickname = #{nickname}
    </select>

    <select id="selectFindPwd" resultType="java.lang.String">
        select user_seq from user_info where user_id = #{id} and user_email = #{email}
    </select>
    
    <update id="updateUserInfoPwd">
        update user_info set user_pwd = #{pwd} where user_seq = #{seq}
    </update>

    <update id="updateUserInfoGrade">
        update user_info set user_grade = #{grade} where user_seq = #{seq}
    </update>

    <select id="isDuplicatedId" resultType="java.lang.Boolean">
        select count(*) from user_info where user_id = #{id}
    </select> 
    <select id="isDuplicatedEmail" resultType="java.lang.Boolean">
        select count(*) from user_info where user_email = #{email}
    </select> 
    <select id="isDuplicatedNickname" resultType="java.lang.Boolean">
        select count(*) from user_info where user_nickname = #{nickname}
    </select> 

    <insert id="insertUserComment">
        INSERT INTO comment_info
        (cmti_user_seq, cmti_text
        <if test="type == 1">
        ,cmti_ns_seq
        </if>
        <if test="type == 2">
        ,cmti_cbi_seq
        </if>
        )
        VALUES(#{user_seq},#{text},#{seq});
    </insert>

    <select id="selectCommentList" resultType="com.novel.service.data.CommentInfoVO">
        select a.*, b.user_nickname from comment_info a inner join user_info b on a.cmti_user_seq = b.user_seq where 
        <if test="type == 1">
        a.cmti_ns_seq = #{seq}
        </if>
        <if test="type == 2">
        a.cmti_cbi_seq = #{seq}
        </if>
        order by a.cmti_reg_dt asc
    </select>
</mapper>