.side {width: 199px;height: 1200px;border: 1px solid #000;margin: 0 auto;;float: right;}
.side .login_box {width: 240;height: 80px;top: 0;padding: 15px;
    border: 1px solid #000;}
#user_logout {float: right;}